In [2]:
%run ../00_AdvancedPythonConcepts/talktools.py

In [1]:
# some of this notebook from http://bit.ly/15WsUXU
!pip install sqlalchemy

Requirement already satisfied (use --upgrade to upgrade): sqlalchemy in /Users/jbloom/anaconda/envs/seminar/lib/python3.5/site-packages

# Core

### Create an engine. For this demo we're using SQLite in memory, and echoing the SQL as it's executed.

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')

### Let's declare a basic table

In [4]:
from sqlalchemy import *
metadata = MetaData()

vehicles_table = Table('vehicles', metadata,
				       Column('model', String),
                       Column('registration', String),
                       Column('odometer', Integer),
                       Column('last_service', Date),)
vehicles_table

Table('vehicles', MetaData(bind=None), Column('model', String(), table=<vehicles>), Column('registration', String(), table=<vehicles>), Column('odometer', Integer(), table=<vehicles>), Column('last_service', Date(), table=<vehicles>), schema=None)

### The table doesn't exist yet, so let's create it

In [5]:
vehicles_table.create(bind=engine)

### SQLAlchemy core's main job is to generate SQL

In [7]:
query = vehicles_table.select()
print("type:",type(query))
print("query:",query)

type: <class 'sqlalchemy.sql.selectable.Select'>
query: SELECT vehicles.model, vehicles.registration, vehicles.odometer, vehicles.last_service
FROM vehicles

### The _select_ above is a shortcut for...

In [8]:
query = select([vehicles_table])
print("type:",type(query))
print("query:",query)

type: <class 'sqlalchemy.sql.selectable.Select'>
query: SELECT vehicles.model, vehicles.registration, vehicles.odometer, vehicles.last_service
FROM vehicles

### Access the table's column metadata

In [9]:
vehicles_table.c.odometer

Column('odometer', Integer(), table=<vehicles>)

### Using method chaining we can add to the query. Note how column operators are overloaded to produce SQL

In [10]:
query = query.where(vehicles_table.c.odometer < 10000)
print(query)

SELECT vehicles.model, vehicles.registration, vehicles.odometer, vehicles.last_service
FROM vehicles
WHERE vehicles.odometer < :odometer_1

### Using the engine created earlier, let's now run our query

In [11]:
results = engine.execute(query)
for row in results:
    print(row,end=" ")

### No results, let's insert some rows

In [12]:
values = [
    { 'model': 'Ford Festiva', 'registration': 'HAX00R', 'odometer': 3141 },
    { 'model': 'Lotus Elise', 'registration': 'DELEG8', 'odometer': 31415 },
]
rows = engine.execute(vehicles_table.insert(), list(values)).rowcount
print(rows, "rows inserted")

2 rows inserted

### Try our query again

In [13]:
results = engine.execute(query)
for row in results:
    print(row,end=" ")

('Ford Festiva', 'HAX00R', 3141, None)

### Trying something more elaborate, let's see the SQL for adding up the odometer readings by model

In [14]:
print(select([vehicles_table.c.model, 
              func.sum(vehicles_table.c.odometer).label('total_km')
             ]).group_by(vehicles_table.c.model))

SELECT vehicles.model, sum(vehicles.odometer) AS total_km
FROM vehicles GROUP BY vehicles.model

### There's much much more we can do. Literal SQL, functions, joins, aliases, unions, ...

# ORM

In [15]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
Base = declarative_base()

class Person(Base):
    __tablename__ = 'people' # Choose your own table name!
    id = Column(Integer, primary_key=True)
    first_name = Column(String)
    last_name = Column(String)
    email = Column(String)
    birthday = Column(DateTime)
    appointments = relationship("Appointment", backref="person")

    def __init__(self, firstname, lastname, email):
        """ Constructor is optional """
        self.first_name = firstname
        self.last_name = lastname
        self.email = email

class Appointment(Base):
    __tablename__ = 'appointments'
    id = Column(Integer, primary_key=True)
    person_id = Column(Integer, ForeignKey('people.id')) # <-- Table name
    meeting_at = Column(DateTime)
    notes = Column(String)

In [18]:
print("Underlying table object:\n", repr(Person.__table__))
print("*"*30)
print("Mapper that's taking care of things:\n", repr(Person.__mapper__))
print("*"*30)
print("What does the declarative base know?\n", repr(Base.metadata.tables))

Underlying table object:
 Table('people', MetaData(bind=None), Column('id', Integer(), table=<people>, primary_key=True, nullable=False), Column('first_name', String(), table=<people>), Column('last_name', String(), table=<people>), Column('email', String(), table=<people>), Column('birthday', DateTime(), table=<people>), schema=None)
******************************
Mapper that's taking care of things:
 <Mapper at 0x10527e278; Person>
******************************
What does the declarative base know?
 immutabledict({'appointments': Table('appointments', MetaData(bind=None), Column('id', Integer(), table=<appointments>, primary_key=True, nullable=False), Column('person_id', Integer(), ForeignKey('people.id'), table=<appointments>), Column('meeting_at', DateTime(), table=<appointments>), Column('notes', String(), table=<appointments>), schema=None), 'people': Table('people', MetaData(bind=None), Column('id', Integer(), table=<people>, primary_key=True, nullable=False), Column('first_name', String(), table=<people>), Column('last_name', String(), table=<people>), Column('email', String(), table=<people>), Column('birthday', DateTime(), table=<people>), schema=None)})

### Create the table!

In [19]:
Base.metadata.create_all(engine)

### Now let's create a session

In [20]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

p = Person('newfirst', 'newlast', 'new@example.com');
session.add(p)

### The query below will cause the above addition to be automatically flushed.

In [21]:
for p in session.query(Person):
    print(p.first_name)

newfirst

### The ORM uses the underlying core to generate SQL

In [22]:
print(session.query(Person).filter_by(id=1))

SELECT people.id AS people_id, people.first_name AS people_first_name, people.last_name AS people_last_name, people.email AS people_email, people.birthday AS people_birthday
FROM people
WHERE people.id = :id_1

### Session queries can be built up to retrieve specific elements

In [23]:
for row in session.query(Person, Person.first_name, Person.email.label('address')).filter_by(id=1):
    print("Person object:", row.Person)
    print("Selected attributes:", row.first_name, row.address)

Person object: <__main__.Person object at 0x104f72d68>
Selected attributes: newfirst new@example.com

### The session keeps track of objects and their state, so the exact same object is returned even via another query.

In [24]:
queried_person = session.query(Person).filter_by(first_name='newfirst').first()

p is queried_person

True

### Queries are generative

In [25]:
query = session.query(Person).filter(~Person.first_name.in_(['ed', 'wendy', 'jack']))
print(query)

SELECT people.id AS people_id, people.first_name AS people_first_name, people.last_name AS people_last_name, people.email AS people_email, people.birthday AS people_birthday
FROM people
WHERE people.first_name NOT IN (:first_name_1, :first_name_2, :first_name_3)

### Additional filter criteria is added with an AND operator

In [26]:
from datetime import datetime, timedelta
query = query.filter(Person.birthday < datetime.now() - timedelta(days=1))
print(query)

SELECT people.id AS people_id, people.first_name AS people_first_name, people.last_name AS people_last_name, people.email AS people_email, people.birthday AS people_birthday
FROM people
WHERE people.first_name NOT IN (:first_name_1, :first_name_2, :first_name_3) AND people.birthday < :birthday_1

# Relationships

### Let's create an appointment related to our person

In [27]:
appointment = Appointment(person=session.query(Person).first(),
                          notes="Appointment date TBC")
session.add(appointment)

### Now we can query from either end of the relationship

In [28]:
for a in session.query(Appointment):
    print(a.person)

<__main__.Person object at 0x104f72d68>

In [29]:
for p in session.query(Person):
    print(p.appointments)

[<__main__.Appointment object at 0x104f7e400>]