In [1]:
line = "Hello World"

In [4]:
for ch in line:
    print(ch)

H
e
l
l
o

W
o
r
l
d

In [6]:
line[10]

'd'

In [10]:
"abc".isascii()

True

In [11]:
li = [56, "hi", 46.9]

In [12]:
li

[56, 'hi', 46.9]

In [13]:
li.append(56)

In [14]:
li

[56, 'hi', 46.9, 56]

In [15]:
li.pop()

56

In [16]:
li

[56, 'hi', 46.9]

In [17]:
li.extend([45, 78])

In [18]:
li

[56, 'hi', 46.9, 45, 78]

In [19]:
li.extend("hi")

In [20]:
li

[56, 'hi', 46.9, 45, 78, 'h', 'i']

In [22]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
li.insert(1, 7)

In [25]:
li

[56, 7, 'hi', 46.9, 45, 78, 'h', 'i']

In [26]:
for item in li:
    print(item)

56
7
hi
46.9
45
78
h
i

In [29]:
line[0] = "hi"

TypeError: 'str' object does not support item assignment

In [30]:
li[3] = 5678

In [31]:
li

[56, 7, 'hi', 5678, 45, 78, 'h', 'i']

In [33]:
v = li[3] + 5

In [34]:
## slicing

In [35]:
li = [11, 22, 33, 44, 55, 66]

In [36]:
li[0:4]

[11, 22, 33, 44]

In [37]:
li[-6]

11

In [38]:
li[0:-4]

[11, 22]

In [40]:
li[-2:-3]

[]

In [44]:
li[4:2:-1]

[55, 44]

In [45]:
## tuple

In [47]:
tup = (45, 78, 48)

In [48]:
type(tup)

tuple

In [50]:
tup[2] = 6

TypeError: 'tuple' object does not support item assignment

In [51]:
a = 6
b = 7

In [52]:
a, b = b, a

In [53]:
print(a, b)

7 6

In [54]:
t = (b, a)

In [55]:
a, b = t

In [59]:
a, b, c = "abc"

In [60]:
print(a, b, c)

a b c

In [61]:
int(6.9)

6

In [62]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [63]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [74]:
a = range(10)

In [75]:
type(a)

range

In [76]:
print(a)

range(0, 10)

In [77]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
list(range(12, 10, -2))

[12]

In [81]:
li = [67, 89]

In [82]:
li.extend([56])

In [83]:
li

[67, 89, 56]

In [85]:
sec = li + [57]

In [86]:
sec[2] = 77

In [87]:
li

[67, 89, 56]

In [89]:
s = set("hello")

In [90]:
s[0]

TypeError: 'set' object does not support indexing

In [92]:
list(s)

['e', 'l', 'h', 'o']

In [93]:
## dict

In [95]:
d = {}

In [96]:
type(d)

dict

In [97]:
tuple()

()

In [98]:
d["apple"] = "A sweet red fruit"

In [99]:
d["mango"] = "king of fruits"

In [100]:
d

{'apple': 'A sweet red fruit', 'mango': 'king of fruits'}

In [101]:
d["apple"]

'A sweet red fruit'

In [102]:
d["mango"]

'king of fruits'

In [103]:
list(d)

['apple', 'mango']

In [104]:
list(d.items())

[('apple', 'A sweet red fruit'), ('mango', 'king of fruits')]

In [105]:
d.keys()

dict_keys(['apple', 'mango'])

In [106]:
d.values()

dict_values(['A sweet red fruit', 'king of fruits'])

In [107]:
d.items()

dict_items([('apple', 'A sweet red fruit'), ('mango', 'king of fruits')])

In [108]:
r1 = range(0, 10)

In [110]:
r2 = range(100, 110)

In [113]:
data = list(zip(r1, r2))

In [114]:
dict(data)

{0: 100,
 1: 101,
 2: 102,
 3: 103,
 4: 104,
 5: 105,
 6: 106,
 7: 107,
 8: 108,
 9: 109}

In [118]:
dict({range(0, 2), range(100, 102), range(200, 202)})

{100: 101, 0: 1}

In [121]:
"lichi" in d

False

In [122]:
line = "hello world"
freq = {}

for ch in line:
    
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

In [123]:
freq

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}